// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "/node_modules/flatpickr/dist/flatpickr.css";

.content-body {
  height: calc(100vh - 56px);
  max-height: calc(100vh - 56px);
}

.rotate-0 {
  transform: rotate(0deg);
}
.rotate-90 {
  transform: rotate(90deg);
}
.rotate-180 {
  transform: rotate(180deg);
}
.rotate-270 {
  transform: rotate(270deg);
}

