// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "~flatpickr/dist/flatpickr.css";

@import "~suneditor/dist/css/suneditor.min.css";


.draggable-source--is-dragging {
  opacity: 0.5;
}

.draggable-mirror {
  display: none;
}

.sun-editor .se-btn-module-border {
  border: none;
}

.sun-editor .se-btn-module-enter {
  display: none;
}

.sun-editor .se-btn {
  margin: 0px !important;
  height: unset !important;
  line-height: 21px !important;
}

.sun-editor .se-toolbar [class*="se-icon-"]::before {
  line-height: 1.5 !important;
}

.sun-editor [class*="se-icon-"]::before {
  font-size: 12px !important;
}
// .sun-editor > * {
//   border-color: #0d0e0f;
// }


.content-body {
  height: calc(100vh - 56px);
  max-height: calc(100vh - 56px);
}

.v--modal-overlay {
  background: rgb(0,0,0,.5) !important;
}




.rotate-0 {
  transform: rotate(0deg);
}
.rotate-90 {
  transform: rotate(90deg);
}
.rotate-180 {
  transform: rotate(180deg);
}
.rotate-270 {
  transform: rotate(270deg);
}

